*{
  margin: 0;  
  padding: 0;
}
/* header-section style start here */
.header-section{
    height: 84vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: rgb(237, 192, 200);
    
}
.header-one{
    width: 260px;
  }
  .flowers{
    height: 400px;
    width: 300px;
    padding-top: 20px;
    
  }
  .header-discraption{
   
    width: 350px;
    font-size: smaller;
    color: rgb(75, 72, 72);
    font-weight: 300;

  }

.header-title{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: xx-large;
}
.btn-primary{
    border: 0;
    border-radius: 3px;
    font-size: 8px;
    background-color:#E55473;
    padding: 10px 25px;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    /* header-section style end here */
}
/* main-section-feature-container style start here */

.feature-container{
    height: 100vh;
    background: #FFF;
    
}




.feature-flower{
    color: #272727;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    align-items: center;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
     margin-bottom: 10px;
    font-size: small;
    margin-top: 10px;
    font-weight: 400;
    font-style: normal;

}

/* main-section-feature-container style end here */


/* images style start here */
.images{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    background: #FFF;
}
.image{
    padding-top: 10px;
     width: 260px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('images/pngwing\ 6.png');
    
    background-position: center bottom;
    background-size: 250px 300px;
    background-repeat: no-repeat;
}
.image-2{
     width: 260px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('images/pngwing\ 5.png');
    
    background-position: center bottom;
    background-size: 250px 300px;
    background-repeat: no-repeat;
}
.image-3{
     width: 260px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
     background-image: url('images/pngwing\ 7.png');
    background-position: center bottom;
    background-size: 250px 300px;
    background-repeat: no-repeat;
}

.images li{
    list-style: none;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}
/* images style end here */
