*{
  margin: 0;  
  padding: 0;
}
/* header-section style start here */
.header-section{
    height: 84vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: rgb(237, 192, 200);
    
}
.header-one{
    width: 260px;
  }
  .flowers{
    height: 400px;
    width: 300px;
    padding-top: 20px;
    
  }
  .header-discraption{
   
    width: 350px;
    font-size: smaller;
    color: rgb(75, 72, 72);
    font-weight: 300;

  }

.header-title{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: xx-large;
}
.btn-primary{
    border: 0;
    border-radius: 3px;
    font-size: 8px;
    background-color:#E55473;
    padding: 10px 25px;
    margin-top: 20px;
    font-weight: 700;
    color: white;
    /* header-section style end here */
}
/* main-section-feature-container style end here */

.feature-container{
    height: 100vh;
    background: #FFF;
    
}




.feature-flower{
    color: #272727;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    align-items: center;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
     margin-bottom: 10px;
    font-size: small;
    margin-top: 10px;
    font-weight: 400;
    font-style: normal;

}
.image{
    width: 340px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}